@using VehicleFinder.Models
@model  VehicleFinder.Models.Vehicle


@{
	ViewBag.Title = "other";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@*This displays a name as simple ViewData*@

<h1>@ViewData["Name"]</h1>














