
@using VehicleFinder.Models  
@model  VehicleFinder.Models.Vehicle


@{
	ViewBag.Title = "Special";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Notice the explicit cast to a Vehicle *@
<h2>@(((Vehicle)ViewData["Vehicle"]).VehicleMake)</h2>

@*Notice the fully qualified name.  Don't really need to use that if you have the above Using statement *@
<h2>@(((VehicleFinder.Models.Vehicle)ViewData["Vehicle"]).VehicleModel)</h2>
