@model  VehicleFinder.Models.Vehicle


@{
    ViewBag.Title = "Special";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.VehicleMake</h2>
<h2>@Model.VehicleModel</h2>
<h2>@Model.VehicleYear</h2>

