


@{
	ViewBag.Title = "Special";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



@*This works but it is not the preferred way since it uses magic properties*@

<h1>@ViewBag.Foo.VehicleMake</h1>
<h1>@ViewBag.Foo.VehicleModel</h1>
<h1>@ViewBag.Foo.VehicleYear</h1>

