@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Finder Way<br />
    South San Fransisco, CA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    415.555.6340
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:BondoLarry@gmail.com">Support@VehicleFinder.com</a><br />
</address>